/*------------------ 
        font 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.h1-font {
    font-size: 60px;
}

.h2-font{
    padding-left: 10%;
}

.start-journy{
    display: flex;
    padding-left: 10%;
    padding-bottom: 5%;
}

