/*------------------ 
        font 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.h1-font {
    font-size: 60px;
}

.h2-font{
    padding-left: 10%;
}

.start-journy{
    display: flex;
    padding-left: 10%;
    padding-bottom: 5%;
}

/*---------------- 
     img styles 
-------------------*/
.image img {

    
}

.image {
    padding-right: 30px;
}

.journy a {
    text-decoration: none;
}

.link-button{
    background-color: #E02C6D;
    padding: 10px 40px;
    border-radius: 41px;
    color: mintcream;

}

.fa-arrow-right {
    padding-left: 2%;
    width: 20px;

}

/* logos */

.logos{
    display: flex;
    margin: 10%;
    justify-content: center;
    grid-gap: 5%;
}